In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("general_data.csv")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

## Here we display the number of null values in a column

In [2]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Here we fill the null values by their average values

In [3]:
df.NumCompaniesWorked = df.NumCompaniesWorked.fillna(df.NumCompaniesWorked.mean())
df.TotalWorkingYears = df.TotalWorkingYears .fillna(df.TotalWorkingYears .mean())

df.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

# Here we evaluate Correlation between all the numerical columns

In [4]:
df.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.298528,-0.033137,NaN,-0.031753,0.680419,-0.027308,0.311309,0.216513,0.202089
DistanceFromHome,0.006963,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013818,0.038125,NaN,0.011169,0.009361,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016219,-0.040531,NaN,0.001261,-0.010712,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001114,-0.004456,NaN,-0.014254,-0.001061,-0.010191,0.004086,0.000256,0.008579
JobLevel,-0.002884,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009844,0.010973,NaN,0.000993,-0.036934,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020710,0.004325,NaN,0.026930,-0.033758,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.298528,-0.013818,-0.016219,NaN,-0.001114,-0.009844,-0.020710,1.000000,0.030825,NaN,0.017130,0.238052,-0.032239,-0.117820,-0.036618,-0.109480
PercentSalaryHike,-0.033137,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030825,1.000000,NaN,0.012548,-0.018717,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017130,0.012548,NaN,1.000000,0.002693,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680419,0.009361,-0.010712,NaN,-0.001061,-0.036934,-0.033758,0.238052,-0.018717,NaN,0.002693,1.000000,-0.040705,0.626876,0.403995,0.458425
TrainingTimesLastYear,-0.027308,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032239,-0.037392,NaN,-0.069902,-0.040705,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117820,-0.029707,NaN,0.007886,0.626876,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036618,-0.029542,NaN,0.019063,0.403995,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109480,-0.040864,NaN,0.017757,0.458425,-0.013270,0.769212,0.510224,1.000000

# We have to find the correlation between Attrition and every other entity,
## but by using .corr() function we got only the values of numerical columns , the non numerical columns were not evaluated and according to the question we have to find correlation between Attrition and all other entities , so we need to convert this non-numeric values to numeric

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Attrition = le.fit_transform(df.Attrition)
df.BusinessTravel = le.fit_transform(df.BusinessTravel)
df.Department = le.fit_transform(df.Department)
df.EducationField = le.fit_transform(df.EducationField)
df.Gender = le.fit_transform(df.Gender)
df.JobRole = le.fit_transform(df.JobRole)
df.Over18 = le.fit_transform(df.Over18)
df.MaritalStatus = le.fit_transform(df.MaritalStatus)

df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [39]:
s=[]
r=[]

In [6]:
from scipy.stats import pearsonr

In [20]:
def Correlation(x,y):
    stats,p = pearsonr(x,y)
    stats = round(stats,2)
    
    if stats==0:
        rel = "Their is no Correlation"
    elif stats>0:
        if stats>0.3:
            rel = "It is a Weak Positive Relationship"
        elif stats>0.7:
            rel = "It is a Moderate Positive Relationship"
        else:
            rel = "It is a Strong Positive Relationship"
    elif stats<0:
        if stats>-0.3:
            rel = "It is a Weak Negative Relationship"
        elif stats>-0.7:
            rel = "It is a Moderate Negative Relationship"
        else:
            rel = "It is a Strong Negative Relationship"
        
    return stats,rel

# Correlation Between Age and Attrition

In [40]:
stats,rel = Correlation(df.Age,df.Attrition)
print(f"Corr(Age, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(Age, Attrition) = -0.16
Relationship type : It is a Weak Negative Relationship

# Correlation Between BusinessTravel and Attrition

In [41]:
stats,rel = Correlation(df.BusinessTravel,df.Attrition)
print(f"Corr(BusinessTravel, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(BusinessTravel, Attrition) = 0.0
Relationship type : Their is no Correlation

# Correlation Between Department and Attrition

In [42]:
stats,rel = Correlation(df.Department,df.Attrition)
print(f"Corr(Department, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(Department, Attrition) = -0.05
Relationship type : It is a Weak Negative Relationship

# Correlation Between Distance from home and Attrition

In [43]:
stats,rel = Correlation(df.DistanceFromHome,df.Attrition)
print(f"Corr(DistanceFromHome, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(DistanceFromHome, Attrition) = -0.01
Relationship type : It is a Weak Negative Relationship

# Correlation Between Education and Attrition

In [44]:
stats,rel = Correlation(df.Education,df.Attrition)
print(f"Corr(Education, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(Education, Attrition) = -0.02
Relationship type : It is a Weak Negative Relationship

# Correlation Between Education Field and Attrition

In [45]:
stats,rel = Correlation(df.EducationField,df.Attrition)
print(f"Corr(EducationField, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(EducationField, Attrition) = -0.06
Relationship type : It is a Weak Negative Relationship

# Correlation Between Employee ID and Attrition

In [46]:
stats,rel = Correlation(df.EmployeeID,df.Attrition)
print(f"Corr(EmployeeID, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(EmployeeID, Attrition) = -0.0
Relationship type : Their is no Correlation

# Correlation Between Gender and Attrition

In [47]:
stats,rel = Correlation(df.Gender,df.Attrition)
print(f"Corr(Gender, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(Gender, Attrition) = 0.02
Relationship type : It is a Strong Positive Relationship

# Correlation Between Job Level and Attrition

In [48]:
stats,rel = Correlation(df.JobLevel,df.Attrition)
print(f"Corr(JobLevel, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(JobLevel, Attrition) = -0.01
Relationship type : It is a Weak Negative Relationship

# Correlation Between Job Role and Attrition

In [49]:
stats,rel = Correlation(df.JobRole,df.Attrition)
print(f"Corr(JobRole, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(JobRole, Attrition) = 0.03
Relationship type : It is a Strong Positive Relationship

# Correlation Between Martial Status and Attrition

In [50]:
stats,rel = Correlation(df.MaritalStatus,df.Attrition)
print(f"Corr(MaritalStatus, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(MaritalStatus, Attrition) = 0.16
Relationship type : It is a Strong Positive Relationship

# Correlation Between Monthly Income and Attrition

In [51]:
stats,rel = Correlation(df.MonthlyIncome,df.Attrition)
print(f"Corr(MonthlyIncome, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(MonthlyIncome, Attrition) = -0.03
Relationship type : It is a Weak Negative Relationship

# Correlation Between Number of Companies Worked and Attrition

In [52]:
stats,rel = Correlation(df.NumCompaniesWorked,df.Attrition)
print(f"Corr(NumCompaniesWorked, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(NumCompaniesWorked, Attrition) = 0.04
Relationship type : It is a Strong Positive Relationship

# Correlation Between Percentage Salary Hike and Attrition

In [53]:
stats,rel = Correlation(df.PercentSalaryHike,df.Attrition)
print(f"Corr(PercentSalaryHike, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(PercentSalaryHike, Attrition) = 0.03
Relationship type : It is a Strong Positive Relationship

# Correlation Between Stock Option Level and Attrition

In [54]:
stats,rel = Correlation(df.StockOptionLevel,df.Attrition)
print(f"Corr(StockOptionLevel, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(StockOptionLevel, Attrition) = -0.01
Relationship type : It is a Weak Negative Relationship

# Correlation Between Total Working Hours and Attrition

In [55]:
stats,rel = Correlation(df.TotalWorkingYears,df.Attrition)
print(f"Corr(TotalWorkingYears, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(TotalWorkingYears, Attrition) = -0.17
Relationship type : It is a Weak Negative Relationship

# Correlation Between Training Times Last Year and Attrition

In [56]:
stats,rel = Correlation(df.TrainingTimesLastYear,df.Attrition)
print(f"Corr(TrainingTimesLastYear, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(TrainingTimesLastYear, Attrition) = -0.05
Relationship type : It is a Weak Negative Relationship

# Correlation Between Years at Company and Attrition

In [57]:
stats,rel = Correlation(df.YearsAtCompany,df.Attrition)
print(f"Corr(YearsAtCompany, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(YearsAtCompany, Attrition) = -0.13
Relationship type : It is a Weak Negative Relationship

# Correlation Between Years with Current Manager and Attrition

In [59]:
stats,rel = Correlation(df.YearsWithCurrManager,df.Attrition)
print(f"Corr(TotalWorkingYears, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(TotalWorkingYears, Attrition) = -0.16
Relationship type : It is a Weak Negative Relationship

# Correlation Between Years Since last Promotion and Attrition

In [60]:
stats,rel = Correlation(df.YearsSinceLastPromotion,df.Attrition)
print(f"Corr(YearsSinceLastPromotion, Attrition) = {stats}")
print(f"Relationship type : {rel}")
s.append(stats)
r.append(rel)

Corr(YearsSinceLastPromotion, Attrition) = -0.03
Relationship type : It is a Weak Negative Relationship

In [81]:

cols = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome','Education','EducationField', 'EmployeeID', 'Gender','JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome','NumCompaniesWorked', 'PercentSalaryHike','StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear','YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
new = pd.DataFrame([s,r],index=["Correlation Value", "Relation"],columns=cols)
new.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Correlation Value,-0.16,0,-0.05,-0.01,-0.02,-0.06,-0,0.02,-0.01,0.03,0.16,-0.03,0.04,0.03,-0.01,-0.17,-0.05,-0.13,-0.16,-0.03
Relation,It is a Weak Negative Relationship,Their is no Correlation,It is a Weak Negative Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship,Their is no Correlation,It is a Strong Positive Relationship,It is a Weak Negative Relationship,It is a Strong Positive Relationship,It is a Strong Positive Relationship,It is a Weak Negative Relationship,It is a Strong Positive Relationship,It is a Strong Positive Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship,It is a Weak Negative Relationship

In [83]:
new.to_excel("final.xlsx")