In [65]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import *
from sklearn.metrics import accuracy_score,confusion_matrix

In [70]:
df = pd.read_csv("train.csv")
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [71]:
df = df.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)

In [81]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df.Sex)
df['Embarked'] = le.fit_transform(df.Embarked)

In [78]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [84]:
def nav_model(col):
    x = df.drop([col], axis=1)
    y = df[col]
    
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)
    model = GaussianNB()
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    
    print(f" Dependent Variable : {col}")
    print("*****************************")
    print(f"Accuracy Score : {accuracy_score(y_test,y_pred)}")
    print("*****************************")       
    print(f"Confusion Matrix : \n{confusion_matrix(y_test,y_pred)}")

In [86]:
nav_model('Survived')

 Dependent Variable : Survived
*****************************
Accuracy Score : 0.7528089887640449
*****************************
Confusion Matrix :
[[121  36]
 [ 30  80]]

In [87]:
nav_model('Pclass')

 Dependent Variable : Pclass
*****************************
Accuracy Score : 0.6966292134831461
*****************************
Confusion Matrix :
[[ 52  13   5]
 [  5  25  19]
 [  5  34 109]]

In [89]:
nav_model('Sex')

 Dependent Variable : Sex
*****************************
Accuracy Score : 0.7153558052434457
*****************************
Confusion Matrix :
[[ 52  46]
 [ 30 139]]

In [90]:
nav_model('SibSp')

 Dependent Variable : SibSp
*****************************
Accuracy Score : 0.5543071161048689
*****************************
Confusion Matrix :
[[130   8   2  40   2   0   0]
 [ 29   9   0  25   2   0   0]
 [  6   0   1   0   1   0   0]
 [  1   0   0   3   3   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

In [92]:
nav_model('Parch')

 Dependent Variable : Parch
*****************************
Accuracy Score : 0.5805243445692884
*****************************
Confusion Matrix :
[[143   9   2  31  13]
 [ 17   5   2  12   4]
 [  7   5   7   6   2]
 [  0   0   0   0   1]
 [  0   0   0   1   0]]

In [93]:
nav_model('Embarked')

 Dependent Variable : Embarked
*****************************
Accuracy Score : 0.6928838951310862
*****************************
Confusion Matrix :
[[ 23   3  23]
 [  0  10  12]
 [ 23  21 152]]