In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("general_data.csv")

In [18]:
df = df.dropna()

In [34]:
df = df.drop_duplicates()

In [42]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Attrition = le.fit_transform(df.Attrition)
df.BusinessTravel = le.fit_transform(df.BusinessTravel)
df.Department = le.fit_transform(df.Department)
df.EducationField = le.fit_transform(df.EducationField)
df.Gender = le.fit_transform(df.Gender)
df.JobRole = le.fit_transform(df.JobRole)
df.Over18 = le.fit_transform(df.Over18)
df.MaritalStatus = le.fit_transform(df.MaritalStatus)

In [43]:
df_yes = df[df["Attrition"]==1]
df_yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
6,28,1,2,1,11,2,3,1,7,1,...,2.0,0,20,8,1,5.0,2,0,0,0
13,47,1,0,1,1,1,3,1,14,1,...,1.0,0,11,8,2,10.0,4,10,9,9
28,44,1,1,1,1,2,3,1,29,1,...,3.0,0,14,8,1,19.0,2,1,0,0
30,26,1,2,1,4,3,3,1,31,1,...,2.0,0,11,8,0,5.0,5,3,0,2

# To Check Whether the data is in Normal form or not
## 1] By Kurtosis

In [44]:
df_yes.kurt()

Age                       -0.073388
Attrition                  0.000000
BusinessTravel             0.438714
Department                -0.267949
DistanceFromHome          -0.050913
Education                 -0.632511
EducationField            -0.497252
EmployeeCount              0.000000
EmployeeID                -1.211662
Gender                    -1.760090
JobLevel                   0.624243
JobRole                   -1.094531
MaritalStatus             -0.798683
MonthlyIncome              1.636083
NumCompaniesWorked        -0.552946
Over18                     0.000000
PercentSalaryHike         -0.432517
StandardHours              0.000000
StockOptionLevel           0.245353
TotalWorkingYears          3.673837
TrainingTimesLastYear      0.964115
YearsAtCompany             9.366724
YearsSinceLastPromotion    4.711054
YearsWithCurrManager       0.219179
dtype: float64

## 2] By Skewness

In [45]:
df_yes.skew()

Age                        0.714479
Attrition                  0.000000
BusinessTravel            -1.201873
Department                -0.004108
DistanceFromHome           0.957983
Education                 -0.217029
EducationField             0.570440
EmployeeCount              0.000000
EmployeeID                 0.001186
Gender                    -0.494885
JobLevel                   1.053776
JobRole                   -0.484378
MaritalStatus             -0.668578
MonthlyIncome              1.536183
NumCompaniesWorked         0.864889
Over18                     0.000000
PercentSalaryHike          0.760011
StandardHours              0.000000
StockOptionLevel           0.956491
TotalWorkingYears          1.674396
TrainingTimesLastYear      0.416718
YearsAtCompany             2.659829
YearsSinceLastPromotion    2.195541
YearsWithCurrManager       1.017582
dtype: float64

# By Above values we can say that :-
   
   ## 1] Values which are Normally Distributed are ==>
   ###            a) EmployeeCount
   ###            b) StandardHours
  #     So We will perform Parametric Tests on this
   
   ## 2] Values which are not Normally Distributed ==>
   ###            a )Age          
   ###            b) DistanceFromHome          
   ###            c)Education                
   ###            d)EmployeeID                
   ###            e)JobLevel                  
   ###            f)MonthlyIncome             
   ###            g)NumCompaniesWorked        
   ###            h)PercentSalaryHike         
   ###            i)StockOptionLevel          
   ###            j)TotalWorkingYears         
   ###            k)TrainingTimesLastYear     
   ###            l)YearsAtCompany             
   ###            m)YearsSinceLastPromotion  
   ###            n)YearsWithCurrManager       
   #      So We will perform Non-Parametric Tests on this

# Parametric tests

## Two Sample Independent t-test

In [46]:
from scipy.stats import ttest_ind

### Attrition and Standard Hours
#### H0 = Their is no dependency between Attrition and Standard hours
#### H1 = Their is dependency between Attrition and Standard Hours

In [55]:
H0 = "Their is no dependency between Attrition and Standard hours"
H1 = "Their is dependency between Attrition and Standard Hours"
a=df_yes.Attrition
b=df_yes.StandardHours 
stats,p = ttest_ind(a,b)
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  -inf
P-Value =  0.0
Their is dependency between Attrition and Standard Hours

##  Man Whitney test

In [57]:
from scipy.stats import mannwhitneyu

### a) Age and Attrition

In [60]:
H0 = "Their is no Significant Difference between Attrition and Age"
H1 = "Their is Significant Difference between Attrition and Age"
a=df_yes.Age
b=df_yes.Attrition
stats,p = mannwhitneyu(a,b)
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  0.0
P-Value =  5.48533400431717e-265
Their is Significant Difference between Attrition and Age

### b) Department and Attrition

In [61]:
H0 = "Their is no Significant Difference between Attrition and Department"
H1 = "Their is Significant Difference between Attrition and Department"
a=df_yes.Department
b=df_yes.Attrition
stats,p = mannwhitneyu(a,b)
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  197047.5
P-Value =  4.6532408971109554e-24
Their is Significant Difference between Attrition and Department

# Two Sample Independent Test

### c) Distance From Home and Attrition

In [63]:
H0 = "Their is no Significant Difference between Attrition and  Distance From Home"
H1 = "Their is Significant Difference between Attrition and Distance From Home"
a=df_yes.DistanceFromHome
b=df_yes.Attrition
stats,p = ttest_ind(a,b)
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  27.472583163146876
P-Value =  2.130224070344394e-133
Their is Significant Difference between Attrition and Distance From Home

### d) Education Field and Attrition

In [65]:
H0 = "Their is no Significant Difference between Attrition and  Education Field From Home"
H1 = "Their is Significant Difference between Attrition and Education Field From Home"
a=df_yes.EducationField
b=df_yes.Attrition
stats,p = ttest_ind(a,b)
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  22.094967201411087
P-Value =  4.065942322901153e-93
Their is Significant Difference between Attrition and Education Field From Home

## Chi Square Test

In [66]:
from scipy.stats import chi2_contingency

In [71]:
H0 = " Attrition and Educational Field Are not dependent on each other"
H1 = " Attrition and Educational Field Are  dependent on each other"
chitable = pd.crosstab(df_yes.Attrition,df_yes.EducationField)

In [72]:
print(chitable)

EducationField   0    1   2    3   4   5
Attrition
1               32  301  75  222  30  45

In [73]:
stats,p,dof,expected = chi2_contingency(chitable)

In [74]:
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  0.0
P-Value =  1.0
 Attrition and Educational Field Are not dependent on each other

### e) Gender and Attrition

In [75]:
H0 = " Attrition and Gender Are not dependent on each other"
H1 = " Attrition and Gender Are  dependent on each other"
chitable = pd.crosstab(df_yes.Attrition,df_yes.Gender)
print(chitable)

Gender       0    1
Attrition
1          268  437

In [77]:
stats,p,dof,expected = chi2_contingency(chitable)

In [78]:
print("Statistical Value = ",stats,"\nP-Value = ",p)

if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  0.0
P-Value =  1.0
 Attrition and Gender Are not dependent on each other

In [85]:
df_no = df[df["Attrition"]==0]

In [86]:
df_no.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4
5,46,0,2,1,8,3,1,1,6,0,...,3.0,0,13,8,0,28.0,5,7,7,7

# Kruskal Wallis Test

In [93]:
from scipy.stats import kruskal

H0 = "Their is no Significant Difference between Attrition , Age and Education"
H1 = "Their is Significant Difference between  Attrition , Age and Education"

In [94]:
stats,p= kruskal(df_yes.Age,df_yes.Attrition,df_yes.Education)
print("Statistical Value = ",stats,"\nP-Value = ",p)
if p<0.05:
    print(H1)
else:
    print(H0)

Statistical Value =  1882.2251636186527
P-Value =  0.0
Their is Significant Difference between  Attrition , Age and Education